<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.leafchild.scopequotas">

  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
		  android:allowBackup="true"
		  android:icon="@mipmap/ic_launcher_round"
		  android:label="@string/app_name"
		  android:supportsRtl="true"
		  android:theme="@style/AppTheme">
	<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
	  <intent-filter>
		<action android:name="android.intent.action.MAIN"/>

		<category android:name="android.intent.category.LAUNCHER"/>
	  </intent-filter>
	</activity>
	<activity
			android:name=".settings.SettingsActivity"
			android:theme="@style/QSwitch"
			android:label="@string/settings"
			android:parentActivityName=".MainActivity">
	  <meta-data
			  android:name="android.support.PARENT_ACTIVITY"
			  android:value="com.leafchild.scopequotas.MainActivity"/>
	</activity>
	<activity
			android:name=".details.DetailsActivity"
			android:label="@string/details"
			android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
	  <meta-data
			  android:name="android.support.PARENT_ACTIVITY"
			  android:value="com.leafchild.scopequotas.MainActivity"/>
	</activity>
	<activity
			android:name=".reports.ReportsActivity"
			android:label="@string/reports"
			android:parentActivityName=".MainActivity">
	  <meta-data
			  android:name="android.support.PARENT_ACTIVITY"
			  android:value="com.leafchild.scopequotas.MainActivity"/>
	</activity>
	<activity
			android:name=".AboutActivity"
			android:label="@string/about"
			android:parentActivityName=".MainActivity">
	  <meta-data
			  android:name="android.support.PARENT_ACTIVITY"
			  android:value="com.leafchild.scopequotas.MainActivity"/>
	</activity>
	<activity
			android:name=".worklog.WorklogActivity"/>
	<activity
			android:name=".categories.CategoryActivity"
			android:label="@string/categories"
			android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
	  <meta-data
			  android:name="android.support.PARENT_ACTIVITY"
			  android:value="com.leafchild.scopequotas.MainActivity"/>
	</activity>

	<receiver android:name="com.leafchild.scopequotas.common.NotificationsReciever"/>
  </application>

</manifest>